footer{
    justify-content: space-between;
    background: linear-gradient(135deg, #1a1c323a, #231e327d, #3c2c5f3b);
    backdrop-filter: blur(6px);
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(135deg,  #1A1C32, #ffffff, #3C2C5F);
    border-radius: 12px;
    margin: 60px 100px;
    padding: 64px 95px;
    border-width: 2px;
    display: flex;
    height: 508px;
}
.FooterTitle{
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    width: 34%;
}
.logoimage{
    width: 50%;
}
.socialimage{
    cursor: pointer;
    width: 30%;
}
.FooterMain{
    justify-content: space-between;
    display: flex;
    gap: 100px;
}
.FooterMain ul li{
    margin-bottom: 20px;
    list-style: none;
}
.FooterMain h1{
    background: linear-gradient(to left, #9b97ed 1%, #FFFFFF 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 28px;
}
.FooterMain p{
    cursor: pointer;
    font-size: 16px;
    opacity: 70%;
}
.ContactInfo{
    width: 60%;
}
footer >p{
    position: absolute;
    font-size: 16px;
    bottom:  10%;
    right: 5%;
}
@media screen and (max-width:1500px) {
    footer{
        gap: 20px;
    }
    .FooterTitle{
        width: 30%;
    }
}
@media screen and (max-width:1200px) {
    footer{
        margin: 60px 100px;
        padding: 60px 80px;
    }
    .FooterTitle{
        width: 30%;
    }
    .logoimage{
        width: 90%;
    }
    .socialimage{
        width: 50%;
    }
    .FooterMain{
        gap: 60px;
    }
    .FooterMain ul li{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1060px) {
    footer{ 
        display: grid;
        height: auto;
    }
    .FooterTitle{
        padding-bottom:20px;
        align-items: center;
        margin: 0 auto;
        width: 70%;
        gap: 30px;
    }
    .logoimage{
        width: 40%;
    }
    .socialimage{
        width: 20%;
    }
}
@media screen and (max-width: 950px) {
    footer >p{
        font-size: 16px;
        bottom:  -5%;
        right:20%;
    }
    .ContactInfo{
        width: 100%;
    }
}
@media screen and (max-width: 800px) {
    footer{
        margin: 60px 40px;
        padding: 30px 50px;
    }
    .FooterTitle{
        width: 90%;
    }
    .FooterMain h1{
        font-size: 22px;
    }
}
@media screen and (max-width:600px) {
    .FooterMain{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        display: grid;
        gap: 10px;
    }
}
@media screen and (max-width:400px) {
    .FooterMain{
        grid-template-columns: 1fr;
        justify-items: baseline;
    }
}