.DiscoverSection{
    height: 34vw;
}
.BackgroundIMG{
    clip-path: polygon(6% 0, 100% 0%, 100% 60%, 85% 100%, 0 100%, 0 28%);
    backdrop-filter: blur(8px);
    position: relative;
    bottom: 10vw;
    left: 10vw;
    z-index: 3;
}
.imageContainer{
    position: relative;
    width: 100%;
    top: -30vw;
}
.Wvetiani{
    position: relative;
    right: 13%;
    top: -15vw;
}
.X{
    position: relative;
    bottom: 7vw;
    left: 85%;
}
.laptop{
    position: relative;
    right: 19%;
    z-index: 4;
    top: 5vw;
}
.ParagraphContainer{
    z-index: 5;
    position: relative;
    bottom: 50vw;
    width: 30%;
    left: 51%;
}
.ParagraphContainer h1{
    position: relative;
    bottom:5vw;
    font-size: 60px;
}
.paragraph{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
@media screen and (max-width: 1910px) {
    .Wvetiani{
        display: none;
    }
    .X{
        display: none;
    }
    .BackgroundIMG{
        bottom: 10vw;
        left: 3vw;
        padding: 0px 20px;
    }
    
    .laptop{
        left: 4%;
        top: 4vw;
    }
    .ParagraphContainer{
        bottom: 46vw;
        width: 30%;
        left: 51%;
    }
    .ParagraphContainer h1{
        bottom:8vw;
        font-size: 60px;
    }
    .paragraph{
        gap: 20px;
        font-size: 20px;
    }
}
@media screen and (max-width: 1800px) {
    .BackgroundIMG{
        display: none;
    }
    .imageContainer{
        margin-top: 400px;
    }
    .laptop{
        left: 4%;
        top: 5vw;
    }
    .ParagraphContainer{
        position: relative;
        float: top;
        width: 30%;
    }
    .ParagraphContainer h1{
        bottom:8vw;
        font-size: 60px;
    }
    .paragraph{
        gap: 20px;
        font-size: 20px;
    }
}
@media screen and (max-width: 1300px) {
    .laptop{
        left: 2%;
        top: 10vw;
    }
    .ParagraphContainer{
        position: relative;
        left: 60vw;
        width: 30%;
    }
    .ParagraphContainer h1{
        bottom:8vw;
        font-size: 55px;
    }
    .paragraph{
        gap: 10px;
        font-size: 18px;
    }
}
@media screen and (max-width: 1100px) {

    .imageContainer{
        width: 40%;
    }
    .laptop{
        width: 90%;
    }
    .ParagraphContainer{
        bottom: 50vw;
        width: 50%;
        left: 40%;
    }
    .ParagraphContainer h1{
        font-size: 50px;
        bottom:1vw;
    }
    .paragraph{
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 20px;
    }
}
@media screen and (max-width: 750px) {
    .ParagraphContainer h1{
        font-size: 40px;
    }
    .paragraph p{
        gap: 10px;
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
    .ParagraphContainer h1{
        font-size: 30px;
    }
    .paragraph p{
        font-size: 12px;
    }
}
@media screen and (max-width: 500px) {
    .ParagraphContainer h1{
        font-size: 20px;
    }
    .paragraph{
        gap: 5px;
        font-size: 10px;
    }
}
@media screen and (max-width: 400px) {
    .ParagraphContainer h1{
        font-size: 15px;    
    }
    .paragraph p{
        font-size: 6px;
    }
}