header{
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-size: 24px;
    display: flex;
    color: #fff;
    z-index: 200;
    gap: 55px;
    top: 80px;
}
header ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
    gap: 36px;
}
header img{
    max-Width:330.01px;
    position: relative;
    Height:82px;
    left: 70px;
    top: 40px;
}
.ContactNowBtn button{
    clip-path: polygon(15% 0, 100% 0, 100% 60%, 85% 100%, 0 100%, 0 50%);
    border-image: linear-gradient(to right, #cccccc, #805dfe) 1;
    background: linear-gradient(to bottom, #A172FF, #7A37FF);   
    transition: 0.5s all ease;
    display: inline-block;
    padding: 27px 80px;
    position: relative;
    cursor: pointer;
    color: #fff;
}
.ContactNowBtn button p{
    font-size: 20px;
}
.ContactNowBtn button:hover {
    border-image: linear-gradient(to right,#805dfe, #cccccc) 1;
    transition: all 0.4s;
}
.Navigation ul li{
    border-bottom:  3px solid rgba(255, 255, 255, 0);
    transition: all 0.5s;
    padding-bottom: 20px;
    cursor: pointer;
}
.Navigation ul li:hover{
    border-image: linear-gradient(to left, #cccccc, #805dfe) 1 ;
    background-image: url(/src/Assests/Ellipse\ 26.png);
    background-position: center;
    border-bottom: 3px solid;
    background-size: cover;
}
.ResponsiveShown{
    display: none;
}
@media screen and (max-width : 1700px) {
    header img{
        left: 50px;
        top: 40px;
    }
    .ContactNowBtn button{
        padding: 26px 78px;
    }

}
@media screen and (max-width: 1600px) {
    header{
        font-size: 20px;
        gap: 40px;
    }
    header ul {
        gap: 40px;
    }
    header img{
        left: 10px;
        top: 26px;
    }
    .ContactNowBtn button{
        padding: 20px 60px;
    }
    .ContactNowBtn button p{
        font-size: 18px;
    }
}
@media screen and (max-width: 1300px) {
    header{
        font-size: 18px;
        gap: 30px;
        top: 50px;
    }
    header ul {
        gap: 30px;
    }
    header img{
        Height:60px;
        top: 40px;
    }
    .ContactNowBtn button{
        padding: 15px 40px;
    }
    .ContactNowBtn button p{
        font-size: 16px;
    }
}
@media screen and (max-width: 1000px) {
    header{
        font-size: 16px;
        gap: 20px;
    }
    header ul {
        gap: 20px;
    }
    header img{
        Height:50px;
        top: 14px;
    }
    .ContactNowBtn button{
        padding: 12px 30px;
    }
    .ContactNowBtn button p{
        font-size: 14px;
    }
}
@media screen and (max-width: 850px) {
    header{
        font-size: 16px;
        top: 60px;
        gap: 0px;
    }
    header ul {
        gap: 0px;
    }
    header img{
        Height:40px;
        left: -80px;
        top: 0;
    }
    .ContactNowBtn button{
        padding: 12px 30px;
    }
    .ContactNowBtn button p{
        font-size: 14px;
    }

    .BurgerMenu {
        position: relative;
        cursor: pointer;
        height: 20px;
        width: 30px;
    }
    
    .BurgerMenu::before,
    .BurgerMenu::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        background-color: #ffffff;
        transition: transform 0.3s ease;
    }
    
    .burger-menu::before {
        top: 0;
    }
    
    .BurgerMenu::after {
        bottom: 0;
    }
    .ResponsiveShown{
        background-image: url(../../Assests/mainBg.jpg);
        background-position: center;
        flex-direction: column;
        background-size: cover;
        position: fixed;
        display: flex;
        height: 100vh;
        width: 100%;
        top: 0;
    }
    .ResponsiveMenu ul{
        flex-direction: column;
        padding-bottom: 30px;
        position: relative;
        cursor: pointer;
        display: flex;
        width: 100%;
    }
    .XButton{
        position: relative;
        cursor: pointer;
        margin-bottom: 30px ;
        float: right;
        z-index: 900;
        height: 50px;
        width: 50px;
        right: 30px;
        top: 30px;
    }
    .XButton::Before{
        content: '';
        position: absolute;
        top: 20px;
        height: 4px;
        border-radius: 20px;
        transition: width .3s, transform .3s, background-color .2s;
        background: #ffff;
        width: 50px;
        right: 2px;
        transform: rotate(45deg);
        z-index: 899;
    }
    .XButton::after{
        content: '';
        position: absolute;
        top: 20px;
        height: 4px;
        transition: width .3s, transform .3s, background-color .2s;
        background: #ffff;
        width: 50px;
        right: 2px;
        z-index: 899;
        transform: rotate(-45deg);
    }
    .ResponsiveMenu ul li{
        transition: all 0.5s;
        font-size: 25px;
        padding: 28px;

    }
    .ResponsiveMenu ul li:hover{
        background: linear-gradient(to bottom, #A172FF, #7A37FF);   
    }
    .ContactNowBtn{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .ContactNowBtn button{
        padding: 25px 70px;
    }
    .ContactNowBtn button p{
        font-size: 25px;
    }
    .ResponsiveHidden{
        display: none;
    }
    .inactive{
        transition: all 0.5s;
        visibility: hidden;
        opacity: 0;
    }
    .active{
        transition: all 0.5s;
        visibility: visible;
        opacity: 1;
    }
}
@media screen and (max-width: 800px) {
    header img{
        Height:40px;
        left: 0px;
    }
}
  