.ResourcesHeader{
    padding-left: 150px;
}
.ResourcesHeader button p{
    font-size: 20px;
    background: #645ECF;
    background: linear-gradient(to right, #7c77da 20%, #FFFFFF 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.ResourcesHeader button{
    background-color: rgba(255, 255, 255, 0);
    border-color: #9c5ecf;
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 15px 22px;
    cursor: pointer;
}
.ResourcesHeader h1{
    margin-bottom: 150px;
    font-size: 60px;
}
.ResourcesMiddle{
    padding: 0 200px;
    display: flex;
}
.ResourcesMiddleTextSide{
    clip-path: polygon(6% 0, 100% 0, 100% 90%, 95% 100%, 0 100%, 0 10%);
    border: 1px solid;
    border-image: linear-gradient(to left, #cccccc, #000000, #ffffff) 1;
    background-color: #2e2e2e61;
    backdrop-filter: blur(10px);
    justify-content: center;
    flex-direction: column;
    position: absolute;
    max-height: 507px;
    display: flex;
    padding: 80px;
    height: 100%;
    width: 846px;
    z-index: 3;
    gap: 30px;
}
.ResourcesMiddleImageSide{
    position: relative;
    bottom: 20px;
    z-index: 2;
    left: 34%;
}
.ResourcesMiddleTextSide h1{
    background: linear-gradient(to left, #b6b3fb 20%, #FFFFFF 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
}
.ParagraphTitle{
    width: 82%;
}
.ResourcesMiddleTextSide > .DateParagraph{
    position: relative;
    top: 13%;
    opacity: 50%;
} 
.ResourcesMain{
    justify-content: center;
    display: flex;
    gap: 50px;
}
.ResourcesCards{
    clip-path: polygon(12% 0, 100% 0, 100% 90%, 85% 100%, 0 100%, 0 10%);
    background-color: #41404062;
    backdrop-filter: blur(10px);
    margin-bottom: 10vw;
    max-width: 460.94px;
    width: 100%;
}
.ResourcesParagraph{
    border: 1px solid;
    border-image: linear-gradient(to left, #cccccc79, #ffffff5e, #ffffff17) 1;
    flex-direction: column;
    border-top: none;
    display: flex;
    padding: 50px;
    gap: 20px;
}
.MainText{
    background: linear-gradient(to left, #DAC8FF 1%, #FFFFFF 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 32px
}
.ResourcesParagraph> .DateParagraph{
    padding-top: 60px;
    opacity: 50%;
}
@media screen and (max-width: 1560px) {
    .ResourcesHeader h1{
        margin-bottom: 100px;
    }
    .ResourcesMiddle{
        padding: 10px;
    }
}
@media screen and (max-width: 1500px) {
    .ResourcesMiddle{
        justify-content: center;
        margin-bottom: 30px;
        display: flex;
    }
    .ResourcesMiddleTextSide{
        max-height: 560px;
        padding: 80px;
        height: 100%;
        width: 960px;
        gap: 30px;
    }
    .ResourcesMiddleImageSide{
        clip-path: polygon(12% 0, 100% 0, 100% 90%, 85% 100%, 0 100%, 0 10%);
        bottom: 0;
        left: 0;
    }
    .ResourcesMain{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        display: grid;
        width: 100%;
        gap: 0px;
    }
}
@media screen and (max-width: 1000px) {
    .ResourcesMiddleTextSide{
        background-image: url(../../Assests/cubebackg.png);
        background-blend-mode: color;
        background-position: center;
        background-size: cover;
        position: relative;
        height: 560px;
        padding: 60px;
        width: 95%;
        gap: 30px;
    }
    .ResourcesMiddleImageSide{
        display: none;
    }
    .ResourcesMiddleTextSide h1{
        font-size: 40px;
    }
    .ResourcesMain{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 600px) {
    .ResourcesMiddleTextSide{
        padding: 20px;
    }
    .ResourcesMiddleTextSide> h1{
        font-weight:600;
        font-size: 30px;
    }
    .ResourcesParagraph{
        gap: 0px;
    }
    .MainText{
        font-size: 30px;
    }
    .ResourcesParagraph> .DateParagraph{
        padding-top: 50px;
    }
}
@media screen and (max-width: 500px) {
    .ResourcesMiddleTextSide> h1{
        font-size: 25px;
    }
    .ResourcesMiddleTextSide p{
        font-size: 18px;
    }
    .ResourcesCards{
        width:90%;
    }
    .ResourcesCards img{
        width: 100%;
    }
    .ResourcesParagraph{
        padding: 40px;
        gap: 10px;
    }
    .MainText{
        font-size: 25px;
    }
    .ResourcesParagraph> .DateParagraph{
        padding-top: 20px;
        opacity: 50%;
    }
}